:root {
  --VeryDarkGrayishBlue: hsl(217, 19%, 35%) ;
  --DesaturatedDarkBlue: hsl(214, 17%, 51%) ;
  --GrayishBlue: hsl(212, 23%, 69%);
  --LightGrayishBlue: hsl(210, 46%, 95%) ;
}


/* Reset-CSS */

* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

html {
  font-size: 62.5%;
  font-family: 'Manrope', sans-serif;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
    -moz-appearance: none;
          appearance: none;
}
/* _______________________ */

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: var(--LightGrayishBlue);
}

.card {
  display: flex;
  width: 60%;
  max-height: 30em;
  border-radius: .8em;
  overflow: hidden;
  box-shadow: 0px 0px 100px var(--GrayishBlue);
}

.card__image {
  width: 70vw;
  overflow: hidden;
}
.image--hero {
  width: 40em;
  object-fit: cover;
}

.card__review {
  padding: 3.4em;
  background-color: white;

}

.review__title{
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--VeryDarkGrayishBlue);
}
.review__description {
  margin-top: 1em;
  font-size: 1.4rem;
  color: var(--DesaturatedDarkBlue);
}

.card__user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
  padding-top: 1em;
}
.user__info{
  display: flex;
}
.user__image--container {
  width: 4.5em;
  height: 4.5em;
  border-radius: 10em;
  overflow: hidden;

}
.image--profile {
  width: 4.5em;
  object-fit: cover;

}

.card__user__text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1em;
}
.user__name {
  font-size: 1.4rem;
  font-weight: 700;
}
.date__comment {
  margin-top: .4em;
  color: var(--DesaturatedDarkBlue);
  font-size: 1.2rem;
}

.card__button__share {
  display: flex;
}

.card__share {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  width: 24em;
  height: 5em;
  padding: 2em;
  bottom: 25em;
  right: 19em;
  border-radius: 1em;
  background-color: var(--VeryDarkGrayishBlue);
  box-shadow: 0px 4px 12px var(--GrayishBlue);
}
.hidden {
  display: none;
}
.share__text {
  font-size: 1.2rem;
  letter-spacing: .4em ;
  color: var(--GrayishBlue);
}
.share__link{
  margin-top: .3em;
}
.button__share {
  width: 3.5em;
  height: 3.5em;
  border-radius: 10em;
  background-color: var(--LightGrayishBlue);
  cursor: pointer;
}


@media screen and (max-width: 375px) {
  .card {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-height: 95%;
  }

  .card__image {
    width: 100%;
    background-position: center;
  }
  .image--hero {
    width: 90vw;
  }

  .card__review{
    padding: 2.4em 3.4em 1.4em 3.4em;
  }
  .review__title {
    font-size: 1.6rem;
  }

  .review__description {
    font-size: 1.2rem;
    line-height: 2.1rem;
    letter-spacing: .05rem;
  }

  .card__share {
    justify-content: start;
    position: absolute;
    width: 90vw;
    height: 6.5em;
    right: 1.85em;
    bottom: 1.25em;
    border-radius: 0 0 0.8em 0.8em;
  }

  .share__link {
    margin-left: 2em;
  }
  
  .button__share {
    z-index: 1;
  }
}